
body {
  margin: 0;
  padding: 0;
  background-image: url('../src/images/wow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

header, h2{
  color: rgb(84, 94, 141);
  padding: 10px;
  margin: 0;
  text-align: center;
}

p, h3, label, #spanId {
  font-size: 0.8em;
  font-family: Helvetica;
  color: rgb(188, 212, 228);
}

.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 19px;
  right: 20px; 
  font-size: 0.7em;
}
h3 {
  margin-left: 20px;
  color: rgb(118, 165, 209);
}

p, label {
  margin-left: 30px;
  margin-right: 10px
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active){ color: rgb(170, 189, 207);}

@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
  h2 {
   text-align: left;
  }
}

li {
  font-size: 0.9em;
  list-style: none;
}

.players {
    margin-left: 20px;
}

a {
  color: rgb(118, 165, 209);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 189, 207);
}

button {
  font-size: .65em;
  color: rgb(28, 63, 179);
  background-color: rgb(118, 176, 230);
  border-radius: 10px;
  margin-left: 5px;
}

button:hover , input[type=submit]:hover {
  color: rgb(2, 4, 26);
} 

input {
  font-size: 0.9em;
}

input[type=submit] {
  font-size: .65em;
  border-radius: 10px; 
  color: rgb(53, 71, 128);
  background-color: rgb(118, 176, 230);
  border-radius: 10px; 
  margin-left: 30px;
  margin-top: 10px;
}



input[type="text"] , [type="password"]{
  width: 150px;
  height: 13px;
  border-radius: 4px;
}

select {
  /* padding: 2px 3px; */
  border: none;
  border-radius: 4px;
  background-color: #f4f5fa;
}

